<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This app was made by Shahzeb lectured by Andrew Mead. It uses data from weatherstack.com</p>
    <img class="portrait" src= "images/casey-horner-G2jAOMGGlPE-unsplash.jpg">
    </div>
 
    {{>footer}}
</body>

</html>